.hero__figure {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-top: 150px;
  background: url(../../images/background-images/banner-bg-gradient.png) no-repeat 25% 5% / 495px auto;

  /* программный градиент */
  /* background: 
    radial-gradient(211px 111px at top 120px left 546px, #4783E4 -100%, transparent 100%),
    radial-gradient(211px 111px at top 219px left 473px, #FDE598, transparent); */
}

.hero__image {
  margin: 0 auto;
  width: 726px;
  height: auto;
  transform: translateX(8px);
}