.accessories-photogallery {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.accessories-photogallery__card-list {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 60px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.accessories-photogallery__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.accessories-photogallery__card-title {
  font-family: Sansation-Light, sans-serif;
  font-size: 22px;
  line-height: 43px;
  margin: 0;
  text-align: center;
}

.accessories-photogallery__photo {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 850px) {
  
  .accessories-photogallery {
    padding: 0;
  }

  .accessories-photogallery__card-list {
    grid-template-columns: 1fr;
  }

  .accessories-photogallery__photo {
    max-width: 588px;
  }

}