.about-accessories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url(../../images/background-images/accessories/about-accessories-bg.png) no-repeat top 55px center / 1485px auto
}

.about-accessories__bg-container {
  max-width: 588px;
  padding: 737px 0 327px;
  background: url(../../images/background-images/accessories/accessories-description-bg.png) no-repeat top center / 588px auto;
  position: relative;
}

/* подложка под текст */
.about-accessories__bg-container::after{
  content: '';
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255 255 255 / 0) 50%, rgba(255 255 255 / 1) 70%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-accessories__animation-container {
  position: relative;
  z-index: 1;
}

.about-accessories__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 98px;
  max-width: 588px;
}

/* пунктирная стрелка */
.about-accessories__text-wrapper::after {
  content: '';
  position: absolute;
  background: transparent url(../../images/background-images/accessories/dashed-arrow.png) no-repeat bottom center / 16px auto;
  inset: 118% 0 -75% 0;
}

.about-accessories__text {
  font-family: Sansation-Light, sans-serif;
  font-size: 34px;
  line-height: 36px;
  text-transform: lowercase;
  color: #ffffff;
  margin: 0 18px 0;
  white-space: pre-wrap;
}

.about-accessories__text_position_right {
  text-align: right;
  align-self: end;
}

.about-accessories__text-accent {
  color: #4783E4;
}