.main-bg-wrapper {
  width: 100%;
  background:
    url(../../images/background-images/main-bg-top.png) no-repeat top 610px center / 1475px auto,
    url(../../images/background-images/main-bg-bottom.png) no-repeat bottom 94px center / 90%;
}

.main-content {
  width: 100%;
}

@media screen and (max-width: 1430px) {

  .main-bg-wrapper {
    background: url(../../images/background-images/main-bg-top.png) no-repeat top 610px center / 1475px auto
  }
}