.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px;
  z-index: 2;
}

.header__link {
  position: relative;
}

/* подложка под лого */
.header__link::after {
  position: absolute;
  content: "";
  width: 115%;
  height: 42px;
  background-color: #ffffff;
  top: -9px;
  left: -8px;
  z-index: -1;
  border-radius: 4px;
}

.header__logo {
  width: 100px;
  height: 27px;
}

.header__menu-button {
  position: relative;
  width: 32px;
  height: 20px;
  border: none;
  background: transparent url(../../images/menu-button.svg) no-repeat center / contain;
}

/* подложка под кнопку меню */
/* .header__menu-button::after {
  position: absolute;
  content: "";
  width: 149%;
  height: 42px;
  background-color: #ffffff;
  background: radial-gradient(blue, white);
  top: -11px;
  left: -8px;
  z-index: -1;
  border-radius: 4px;
} */

.header__menu-button:hover {
  cursor: pointer;
}

.link-transition {
  transition: opacity 0.5s ease;
}

.link-transition:hover {
  opacity: 0.6;
}