.header {

  width: 100%;

}

.header__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  padding: 30px;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  width: 100px;
  height: 27px;
}

.header__menu-button {
  width: 32px;
  height: 20px;
  border: none;
  background: transparent url(../../images/menu-button.svg) no-repeat center / contain;
}

.header__figure {
  display: flex;
  align-items: center;
  padding: 153px 0 140px;
  margin: 0;
  /* эллипсы в виде градиента */
  background: 
    url(../../images/background-images/header-bg-line.svg) no-repeat top 119px left 466px/ 445px,
    radial-gradient(211px 111px at top 120px left 546px, #4783E4 -100%, transparent 100%),
    radial-gradient(211px 111px at top 219px left 473px, #FDE598, transparent);
}

.header__image {
  width: 361px;
  height: 312px;
  margin: 0 auto;
}