.interior-bg-wrapper {
  width: 100%;
  background: url(../../images/background-images/interior/interior-bg.png) no-repeat bottom 75px center / 1400px;
}

.interior-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  padding-bottom: 125px;
  width: 100%;
}

@media screen and (max-width: 935px) {
  .interior-bg-wrapper {
    background: url(../../images/background-images/interior/interior-lines-bg.png) no-repeat bottom 40px left 30px / 640px;
  }
}