.interior-photogallery {
  max-width: 1000px;
  margin: 0 30px;
}

.interior-photogallery__card-list {
  display: flex;
  flex-direction: column;
  gap: 200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.interior-photogallery__card {
  display: flex;
  gap: 50px;
  position: relative;
  z-index: 1;
}

.interior-photogallery__card:nth-of-type(even) img {
  order: 2;
}

.interior-photogallery__card:nth-of-type(even) .interior-photogallery__discription {
  text-align: right;
}

/* эллипсы справа первой карточки*/
.interior-photogallery__card:first-child::before{
  position: absolute;
  content: "";
  background: url(../../images/background-images/interior/interior-ellipses-bg.png) no-repeat center / 348px auto;
  inset: 368px -35px -69px 715px;
}

/* стрелка и желтый градиент после первой карточки */
.interior-photogallery__card:first-child::after {
  position: absolute;
  content: "";
  background: 
    url(../../images/arrow.svg) no-repeat top center / 17px 96px,
    radial-gradient(45% 40%, rgba(253 229 152 / 1), rgba(253 229 152 / 0)) center top 7px;
    inset: 112% 30% -330px 30%;
}

.interior-photogallery__photo {
  width: 50%;
  aspect-ratio: 1;
  min-width: 499px;
}

.interior-photogallery__discription {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 45px;
  font-family: Sansation-Light, sans-serif;
}

.interior-photogallery__discription-title {
  font-size: 32px;
  line-height: 43px;
  font-weight: 300;
  margin: 0;
}

.interior-photogallery__discription-text {
  font-size: 22px;
  line-height: 43px;
  margin: 0;
  white-space: pre-wrap;
}

@media screen and (max-width: 1095px) {
  
  .interior-photogallery__card:first-child::before {
    display: none;
  }
  
  .interior-photogallery__discription-text {
    white-space: normal;
  }
}

@media screen and (max-width: 935px) {

  .interior-photogallery__card-list {
    max-width: 80%;
    margin: 0 auto;
  }
  
  .interior-photogallery__card {
    flex-wrap: wrap;
  }
  
  .interior-photogallery__card:nth-of-type(even) img {
    order: initial;
  }

  /* стрелка и желтый градиент после первой карточки */
.interior-photogallery__card:first-child::after {
    inset: 105% 30% -330px 30%;
}
  
  .interior-photogallery__card:nth-of-type(even) .interior-photogallery__discription {
    text-align: left;
  }
  
  .interior-photogallery__photo {
    width: 100%;
    min-width: auto;
  }
}