/* .navigation-menu {
  display: none;
}

.navigation-menu_opened {
  display: block;
  position: fixed;
  z-index: 3;
  top: 88px;
  left: 0;
  right: 0;
  padding: 32px 0;
  background-color: #F5F3F8;
} */

.navigation-menu {
  position: fixed;
  z-index: 3;
  top: 88px;
  left: 0;
  right: 0;
  padding: 32px 0;
  background-color: #F5F3F8;
  transform: translateY(-210%);
  opacity: 0;
  transition: all 1s ease;
}

.navigation-menu_opened {
  transform: translateY(0);
  opacity: 1;
}

.navigation-menu__links-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  max-width: 904px;
  padding: 0;
  margin: 0 auto;
}

.navigation-menu__list-item {
  list-style: none;
  font-size: 16px;
  color: #545F71;
  transition: transform 0.5s ease;
}

.navigation-menu__list-item:hover {
  /* transform: scale(1.1); */
  transform: translateY(-5px);
}

.navigation-menu__link {
  text-decoration: none;
  color: #545F71;
}

.navigation-menu__link_active {
  /* text-decoration: underline; */
  position: relative;
  /* color: #4783E4;;; */
}

/* линия под ссылкой */
.navigation-menu__link_active::after {
  content: "";
  position: absolute;
  background-color: #4783E4;;
  width: 4px;
  height: 4px;
  left: 50%;
  bottom: -12px;
  border-radius: 50%;
}